.student-form{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-top:30px;
margin-bottom:30px;

}

.student-form input{
padding:10px 14px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
width:200px;
outline:none;
transition:0.3s;

}

.student-form input:focus{
border-color:#007bff;
box-shadow:0 0 6px rgba(0,123,255,0.3);
}

.student-form button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
font-size:14px;
transition:0.3s;
}

.student-form button:hover{
background:#0056b3;
}